@import "tailwindcss";
@plugin "daisyui";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.align-content {
  @apply max-w-[1296px] w-full mx-auto px-2;
}

/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/inter-v18-latin-500.woff2") format("woff2");
}
/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../src/assets/fonts/inter-v18-latin-600.woff2") format("woff2");
}

/* outfit-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/outfit-v11-latin-regular.woff2") format("woff2");
}
/* outfit-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/outfit-v11-latin-500.woff2") format("woff2");
}
/* outfit-600 - latin  */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("../src/assets/fonts/outfit-v11-latin-600.woff2") format("woff2");
}
/* outfit-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 800;
  src: url("../src/assets/fonts/outfit-v11-latin-800.woff2") format("woff2");
}

body {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.raspberryRed {
  background-color: #ee2f5e;
}
.lavender {
  background-color: #f5f6fa;
}
.gray10 {
  color: #c7c6d2;
}
.pastelBlue {
  border-color: #eaedf9;
}
.mainBlack {
  color: #020F15;
}
